<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.ssm.mapper.UserMapper">
    <resultMap id="result" type="com.fish.ssm.entity.User">
        <result property="Id" column="ID"/>
        <result property="name" column="name" />
        <result property="password" column="password" />

    </resultMap>

    <select id="findUser" resultMap="result">
      SELECT * FROM user where Id=#{Id}
   </select>

    <select id="userList" resultMap="result">
      SELECT * FROM user
   </select>
</mapper>